/* 
.destaque{
    color: red;
    font-weight: 700;
}

.contrario_destaque{
    text-decoration: line-through;
}

.titulo_main{
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 5px 5px 100px red;
    color: red;
    font-size: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.titulo_secundario_main{
    text-transform: uppercase;
    font-weight: 700;
    color: red;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5em 0 2.7em 0;
}

@media screen and (min-width: 768px){
    
    
}

@media screen and (min-width: 1000px){
    
    .titulo_main{
        font-weight: 700;
        font-size: 4em;
    }

    .titulo_secundario_main{
        font-weight: 700;
        font-size: 2em;
    }
} */

.cardProduto_promocao{
    font-size: 14px;
    color: var(--green);
    font-weight: 600;
    /* text-decoration: line-through; */
}

.infos__h3 {
    color: var(--blue-hover);
    font-size: 18px;
    font-weight: 400;
    /* text-decoration: line-through; */
}

.promotion__color{
    color: var(--green);
}